.title{
margin: 20px 0;
padding: 15px;
}

.header__title{
  height: 50px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(41,41,41,0.3);
  line-height: 50px;
  clear:both;
}


.head__title__left{
  float: left;
  margin: 0;
}
.head__title__right__side{
  float: right;
  padding: 0px 10px;
  text-align: right;
}

.head__title__right__side a{
  padding: 0px 10px;
    border: 2px solid #57c3e9;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    display: inline-block;
    line-height: 30px;
    background-color: #57c3e9;
}




.left__content{
  height: auto;
  width: 50%;
  float: left;
}

h2{
  font-size: 20px
}
.image__top{
  width: 600px;
  height: 400px;
}


.right__content{
  height: auto;
  width: 50%;
  float: left;

}