a {
  text-decoration: none ;
}

ul {
  list-style: none;
  text-align: right;
}

div.content_post p {
  position: absolute;
  left: 30px;
  right: 100px;
  bottom: 30px;
  margin: 0;
  color: #fff;
  font-size: 20px;
}

  span.name {
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 2;
  font-size: 13px;
  color: #666666;
}

body {
  margin: 0;
  letter-spacing: 0.15em;
}
.header__bar{
  height: 50px;
  background-color: rgb(91, 141, 235);
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  line-height: 50px;
  clear:both;
}

.header__bar a{
  color: #fff;
}

.head__bar__title{
  float: left;
  margin: 0;
}
.head__bar__right__side{
  float: right;
  padding: 0px 10px;
  text-align: right;
}

.head__bar__right__side a{
  padding: 0px 10px;
    font-size: 14px;
    border: 2px solid #57c3e9;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    line-height: 30px;
    background-color: #57c3e9;
}

.post {
  padding: 0px 10px;
    font-size: 14px;
    border: 2px solid #57c3e9;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    line-height: 30px;
    background-color: #57c3e9;
}


// メインビュー画面
.content_post{
  height: 400px;
  width: 600px;
  margin: 20px 0;
  object-fit: cover;
  position: relative;
}

// 投稿画面
.contents__row{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
}
.container{
margin: 20px 0;
padding: 30px;
box-sizing: border-box;
box-shadow: 0 0 10px rgba(41,41,41,0.3)
}
h3{
  text-align: center;

}
form input, form textarea{
  display: block;
  margin-top: 0em;
  width: 600px;
  margin: 5px 0 15px;
  padding: 10px 0px 10px 0px;

}
form input[type="submit"]{
  font-size: 20px;
  border: 0;
  background-color: #888888;
}
